<div id="navigation">
  <ul>
    <li>
      {{#link-to 'application'}}
        Home
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'randomsquares'}}
        Random Squares
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'scrollview'}}
        Scrollview
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'gridlayout'}}
        Grid layout
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'sequentiallayout'}}
        Sequential layout
      {{/link-to}}
    </li>
  </ul>
</div>
{{ outlet }}