<ul>
  <li>
    {{#link-to 'application'}}
      Home
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'randomsquares'}}
      Random Squares
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'gridview'}}
      Gridview
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'scrollview'}}
      Scrollview
    {{/link-to}}
  </li>
</ul>
{{ outlet }}