<br/>
<br/>
<br/>
<ul>
{{#each element in controller}}
  <li>
    name: {{input value=element.name}}
  </li>
  <li>
    width: {{input value=element.width}}
  </li>
  <li>
    height: {{input value=element.height}}
  </li>
{{/each}}
</ul>